/* Add the below transitions to allow a smooth color change similar to lyft */
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    z-index: 11;
}
.navbar-top {
    z-index: 11 !important;
}

.navbar.scrolled {
    background-color: rgb(68, 68, 68) !important; /* IE */
    background-color: rgba(0, 0, 0, 0.78) !important; /* NON-IE */
}

.collapse.show, .navbar-collapse.collapsing {
    top:60px;
}
/*
.navbar-close {
    float: right;
    cursor: pointer;
}
.collapse > ul > .navbar-close {
    display: none;
}
*/
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed !important ;
    right: 0;
    left: 0;
    z-index: 1030;
}


.show-on-scroll{
    display: none;
}
.navbar.scrolled > div > .show-on-scroll{
    display: block;
}
.navbar.scrolled > div > .hide-on-scroll{
    display: none;
}

.nav-link > div > .avatar-sm{
    margin-top: -15px;
}
/*
.navbar.scrolled > .show-on-scroll{

}
*/